.input-field {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .input-field label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #4A4A4A;
  }
  
  .input-field input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  